.dropbtn {
  background-color: black;
  margin-top: 5px;
  font: caption;
  color: white;
  cursor: pointer;
  width: 83px;
  margin-bottom: 5px;
  border-radius: 0px;
  padding: 6px;
  font-size: 17px;
  border: none;

  transition-duration: 0.4s;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 19px;
  color: white;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: max-content;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 6px 6px 22px 3px rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  font-size: large;
  padding: 10px 17px;
  text-decoration: none;
  display: block;

  transition-duration: 0.4s;
}

.dropdown-content a:hover {
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: #333333;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}
